#main-footer {
  background-color: $dark-color;
  color: #fff;
  height: 4rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    .social .fab {
      padding: 0.5rem;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0.4rem;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
